// generic content, news, documents
.hentry
	margin-bottom: 22px
	padding-bottom: 22px
	border-bottom: 1px solid #E4E6EB
	.hentry__title
		font-size: 20px
		color: #041030
		text-decoration: none
		font-weight: normal
		line-height: 1.2
		margin-bottom: 10px
		+frank
		a
			color: #2d3746
			text-decoration: none
			+transition(all 1.3s ease-in-out)
			&:hover
				color: #2A40C8
				+transition(all 0.1s ease-in-out)
	&.hentry_inactive
		.hentry__title
			a
				color: #aaafb6
				+transition(all 1.3s ease-in-out)
				&:hover
					color: #2A40C8
					+transition(all 0.1s ease-in-out)
	.hentry__meta
		color: #aaafb6
		font-size: 11px
	.hentry__pic
		margin-top: 22px
		img
			display: block
	.hentry__content
		font-size: 13px
		color: #352e4a
		line-height: 1.5
		margin-top: 22px
		p
			margin-bottom: 1em
			&:last-child
				margin-bottom: 0
	&.hentry_white
		background: #fff
		padding: 20px 28px 28px 28px
		border-bottom: none
		margin-bottom: 45px
		+transition(all .3s linear)
		+mob
			transition: none
			padding: 25px 40px
			margin-top: 10px
		&:hover
			background: #fcfcfc
			+box-shadow(0px 6px 32px 4px rgba(34, 30, 74, 0.15))
			+mob
				+box-shadow(none)
			.hentry__title
				a
					color: #245FC0
		.hentry__title
			font-size: 24px
			min-height: 127px
			+mob
				min-height: 0
		.hentry__pic
			margin: 22px -28px -28px -28px
			+mob
				margin: 22px -20px 0 -20px
			img
				+mob
					width: 100%
					display: block
					height: auto
	&.hentry_wide
		margin-bottom: 42px
		border-bottom-style: none
		padding-bottom: 0

		+mob
			margin-bottom: 0
			padding: 0 40px
		&:hover
			.hentry__pic
				+transition(all .3s linear)
				+box-shadow(0px 6px 32px 4px rgba(34, 30, 74, 0.15))
		.hentry__title
			font-size: 33px
			line-height: 1.2
			padding-top: 13px
			+mob
				font-size: 30px
		.hentry__pic
			+transition(all .3s linear)
			+mob
				margin: 0 -40px
				margin-top: 24px
			img
				+mob
					display: block
					width: 100%
					height: auto
	&.hentry_equal
		min-height: 385px
		+mob
			min-height: 0
	&.hentry_last
		border-bottom: none
		padding-bottom: 0
	&.is-active
		position: relative
		.hentry__title
			color: #245FC0
			a
				color: #245FC0
		.hentry__meta
			color: #3656cc
		&:before
			position: absolute
			bottom: 25px
			right: 20px
			+s(hentryactive)
			content: ' '
	&.hentry_event, &.hentry_doc
		position: relative
		margin-bottom: 29px
		&:last-child, &.hentry_lastchild
			border-bottom: none
		.hentry__title
			margin-right: 150px
		.hentry__inst
			padding-right: 60px
	.hentry__assets
		position: absolute
		top: 0px
		right: 0
		list-style: none
		font-size: 0
		width: 124px
		li
			display: inline-block
			text-align: right
		a
			@extend %hide-text
			vertical-align: middle
			display: inline-block
			margin-left: 12px
	@each $s in text, photo, video, telegram, sadtelegram, doc
		.hentry__#{$s}
			+s(#{$s})
	&.hentry_telegram
		.hentry__assets
			text-align: right
	&.hentry_doc
		.hentry__assets
			width: 76px

.admincomis
	+mob
		padding: 0 40px

.admincomis__block
	+transition(all .2s linear)
	.cols
		display: none
	&.is-inactive
		opacity: .5
		+mob
			opacity: 1
	&.is-active
		.cols
			display: block
	& + .admincomis__block
		h2
			opacity: .5
			margin-bottom: 0
			margin-top: 20px
			+mob
				opacity: 1
			&:hover
				opacity: 1
	h2
		a
			&:hover
				color: #245FC0 
