//contacts
.content_contacts1
	background: #F5F5F6
	//padding-top: 30px 

.content_contacts2
	background: #ECECEE

.sprav
	//border-bottom: 1px solid #E5E6EA
	//border-top: 1px solid #E5E6EA
	margin-bottom: 40px
	.sprav__item
		+condbold
		padding-bottom: 14px
		padding-top: 14px
		&:first-child
			//border-bottom: 1px solid #E5E6EA
		dt
			font-size: 32px
			+condbold
			color: #181c40
			line-height: 1.1
			margin-bottom: 1em
			a
				color: #181c40
				text-decoration: none

		dd
			font-size: 16px
			color: #181c40
			+book
		&.sprav__itemspecial
			dt
				min-height: 2.7em
				margin-bottom: 0  
.sep
	border-top: 1px solid #C1C1C1 
	margin-left: -160px 
	margin-bottom: 35px 
	&.sep_media
		margin-top: 50px 
		margin-bottom: 50px 
.contactform
	margin-right: -20px
	padding-bottom: 60px 
	.contactform__text
		font-size: 16px
		color: #414664
		+book
		margin-bottom: 45px
		p
			margin-bottom: 1em 
		cite
			+reg
			font-style: normal
	.contactform__field
		float: left
		margin-right: 20px
		width: 330px
		margin-bottom: 15px
		label
			display: block
			color: #414664
			font-size: 15px
			+lite
			padding-bottom: 4px
	.contactform__textarea
		clear: both
		float: none
		width: auto
		margin-bottom: 14px
		
	.contactform__act
		text-align: right
		margin-right: 20px
		clear: both
		padding-top: 14px 
	.contactform__submit
		display: inline-block
	input, textarea
		background: #FCFCFD
		border-radius: 3px
		display: block
		width: 100%
		+box-sizing(border-box)
		border-style: none
		padding: 10px
		+lite
		font-size: 15px
	textarea
		height: 300px
	.textarea
		position: relative
		.textarea__left
			position: absolute
			right: 10px
			line-height: 1
			top: 8px
			font-size: 11px
			font-family: "Tahoma", sans-serif
			color: #c4c8d0 
