.dateblock
	float: right
	font-size: 11px
	color: #9c9ea8
	text-decoration: none
	border-radius: 3px
	border: 1px solid #ECECEE
	height: 28px
	line-height: 28px
	padding: 0 38px
	margin-top: 15px
	cursor: pointer
	&:hover
		color: #fff
		background: #3559C5
		border-color: #3559C5
	&:first-letter
		text-transform: uppercase


.content_subnav
	.content__in
		height: 60px
		line-height: 60px
		&.content__flexible
			height: auto
			line-height: 1.3
.subnav
	list-style: none
	font-size: 0
	li
		display: inline-block
		font-size: 15px
		color: #565268
		a
			color: #565268
			text-decoration: none
			margin-right: 25px
			&.is-active
				color: #2A40C8
				position: relative
				&:before
					position: absolute
					bottom: -5px
					width: 6px
					height: 2px
					background: #2A40C8
					border-radius: 2px
					content: ' '
					left: 50%
			&.is-special
				color: #78C8B4
				&.is-active
					&:before
						background: #78C8B4
.searchon
	background: #30BE9A
	width: auto  !important
	.searchon__wrapper
		width: 680px 
		padding-top: 10px 
		font-size: 0 
	.searchon__inputwrap
		width: 580px 
		height: 40px 
		border-radius: 2px
		background: #fff
		line-height: 40px
		color: #565268
		position: relative
		margin-right: 25px 
		display: inline-block
		vertical-align: top
		input
			color: #565268 
			width: 580px - 18px - 18px
			height: 40px 
			line-height: 40px
			border-style: none
			padding-left: 18px 
			padding-right: 18px 
			font-size: 15px 
			background: transparent 
			+placeholder-color(#565268)
		nav
			position: absolute
			right: 0
			top: 0
			padding-right: 18px   
			font-size: 13px 
			a
				margin-left: 18px 
				text-decoration: none
				color: #B0AEB8
				&.is-active
					color: #2A40C8 
	.searchon__submit
		color: #fff
		font-size: 15px  
		display: inline-block
		vertical-align: middle
		-webkit-appearance: none
		border: none
		background: transparent
		width: 70px 
		vertical-align: top
		position: relative
		top: 10px 
		i
			+svg(search, 13, 13)
			display: inline-block
			vertical-align: middle
			margin-right: 8px 
			position: relative
			top: -1px 
.rubr
	background: #FCFCFD
	.rubr__head
		font-size: 15px
		font-weight: normal
		color: #37a58c
		a
			color: #37a58c
			text-decoration: none
	.rubr__list
		overflow: hidden
		padding: 10px 0
		position: relative
		&:before
			content: ' '
			position: absolute
			left: 45%
			top: 0
			height: 100%
			border-left: 1px solid #ECECEE
		ul
			list-style: none
			float: left
			width: 40%
			margin-right: 10%
		li
			margin-bottom: 6px
		a
			font-size: 15px
			color: #5c5e6c
			text-decoration: none
			&.is-active, &:hover
				color: #3559C5

.docsearch__wrap
	background: #FCFCFD

.docsearch
	padding: 25px 0
	margin-right: -20px
	overflow: hidden
	margin-left: -10px
	padding-left: 10px
	position: relative
	.docsearch__field
		float: left
		width: 330px
		margin-right: 20px
		margin-bottom: 14px
		&.docsearch__fieldlong
			width: 680px
	label
		display: block
		font-size: 15px
		padding-bottom: 6px
		color: #343646
	input
		background: #F5F5F6
		border-radius: 3px
		display: block
		width: 100%
		+box-sizing(border-box)
		border: 1px solid #ECECEE
		padding: 10px
		+lite
		font-size: 15px
	.docsearch__submit
		position: absolute
		bottom: 40px
		right: 20px
	.select
		position: relative
		&:before
			content: ' '
			position: absolute
			top: 50%
			margin-top: -4px
			right: 15px
			+s(select)
		select
			-webkit-appearance: none
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 100%
			height: 100%
			opacity: 0
			z-index: 10

// .fixme
// 	background: #fff
// 	z-index: 200
// 	box-shadow: 0 3px 5px rgba(#000, .1)
// 	position: relative

.notifications
	background: #30BE9A
	color: #ffffff
	position: relative
	z-index: 1
	height: 60px
	top: 0px
	margin-top: -60px



.events
	.events__title
		+condbold
		font-size: 20px
		font-weight: normal
		margin: 28px 0
		color: #848cae
		a
			color: #3656cc
			text-decoration: none
		&:first-child
			margin-top: 0

.more
	border-radius: 2px
	color: #30BE9A
	background-color: #fbfbfd
	background: #ffffff
	border: 1px solid rgba(48, 190, 154, 0.3)
	height: 40px
	text-align: center
	display: block
	position: relative
	margin-bottom: 40px
	line-height: 40px
	font-size: 13px
	text-decoration: none
	+transition(background-color 0.2s ease-in-out, color 0.2s ease-in-out)
	&:hover
		background-color: #30BE9A
		color: white
	i
		display: inline-block
		+s(more)
		position: absolute
		left: 50%
		top: 50%
		margin-left: -17px
		margin-top: -3px
	&.more_alt
		border: 1px solid #DEDEE2
		background: #ECECEC
		box-shadow: none
		i
			+s(more_alt)