.dateblock
	float: right
	font-size: 11px 
	color: #9c9ea8
	text-decoration: none
	border-radius: 3px 
	border: 1px solid #ECECEE 
	height: 28px 
	line-height: 28px
	padding: 0 38px 
	margin-top: 15px 
	cursor: pointer
	&:hover
		color: #fff 
		background: #3559C5
		border-color: #3559C5  
.subnav
	list-style: none
	font-size: 0
	li
		display: inline-block
		font-size: 15px 
		color: #9c9ea8 
		a
			color: #9c9ea8
			text-decoration: none
			margin-right: 25px  
			&.is-active
				color: #3656cc  
	&.subnav_sub
		li 
			a.is-active
				position: relative
				&:before
					position: absolute
					bottom: -5px 
					+s(dot)
					content: ' '
					left: 50% 
.rubr
	background: #FCFCFD 
	.rubr__head
		font-size: 15px 
		font-weight: normal
		color: #37a58c 
		a
			color: #37a58c
			text-decoration: none 
	.rubr__list
		overflow: hidden
		padding: 10px 0
		position: relative
		&:before
			content: ' '
			position: absolute
			left: 45%
			top: 0 
			height: 100%
			border-left: 1px solid #ECECEE
		ul
			list-style: none
			float: left
			width: 40% 
			margin-right: 10% 
		li
			margin-bottom: 6px 
		a
			font-size: 15px 
			color: #5c5e6c
			text-decoration: none
			&.is-active,&:hover
				color: #3559C5 


.fixme
	background: #fff
	z-index: 200
	box-shadow: 0 3px 5px rgba(#000, .1)  		
.content_subnav
	.content__in
		height: 60px
		line-height: 60px 
		&.content__flexible
			height: auto 
			line-height: 1.3

.events
	.events__title
		+condbold
		font-size: 20px 
		font-weight: normal
		margin: 28px 0 
		color: #848cae 
		a
			color: #3656cc
			text-decoration: none 
		&:first-child
			margin-top: 0 
.more
	border-radius: 3px
	background-color: #fbfbfd
	box-shadow: 0 1px 4px rgba(70,76,98,.1)
	background: #ffffff 
	height: 40px 
	text-align: center
	display: block
	position: relative
	margin-bottom: 40px 
	i
		display: inline-block
		+s(more)
		position: absolute
		left: 50% 
		top: 50%
		margin-left: -17px  
		margin-top: -3px 
	&.more_alt
		border: 1px solid #DEDEE2
		background: #ECECEE
		box-shadow: none
		i
			+s(more_alt)