//mainpage styles

.content
	background: #F5F5F6
	&.content_main
		padding-top: 10px 
		&.content_alt
			background: #ECECEE
		.content__in
			@extend %in
			padding-top: 40px
			padding-bottom: 40px
			+mob
				padding-top: 30px
				padding-bottom: 30px
		&.content_top
			background: #fff
			.content__in
				padding-top: 0
				padding-bottom: 0
	&.content_search
		padding-bottom: 40px 
	.content__sep
		border-top: 1px solid #EEEFF2
		&.content__sepshadow
			position: relative
			&:before
				position: absolute
				top: 0px
				height: 14px
				width: 100%
				content: ' '

.previously
	+mob
		padding: 30px 40px
		background: #F4F4F4

.cols
	margin-right: -50px
	@include display-flex
	@include align-content(stretch)
	@include flex-direction(row)
	@extend %clr
	+mob
		margin-right: 0
	.col
		@include display-flex
		width: 320px
		+mob
			width: auto
			float: none
			margin: 0
		.hentry
			width: 320px
			position: relative
			padding-bottom: 50px
			@include flex-basis(320px)
		.hentry_white
			padding-bottom: 28px
		.hentry:nth-child(2n)
			margin-right: 0
		&:nth-child(2n)
			margin-left: 40px
	&.cols_last
		.hentry
			border-bottom: 0
		


.promoted
	background: #fff
	position: relative
	height: 180px
	+transition(height 0.3s linear)
	overflow: hidden
	+mob
		display: none
	+mob
		overflow: visible
		height: auto
	.promoted__in
		@extend %in
		padding-top: 40px
		padding-bottom: 40px
		+mob
			padding: 0
	.promoted__toggle
		position: absolute
		right: 20px
		bottom: 20px
		cursor: pointer
		width: 18px + 40px
		height: 11px   + 40px
		opacity: .5
		+mob
			display: none
		i
			position: absolute
			margin-left: -9px
			margin-top: -6px
			top: 50%
			left: 50%
			+s(promotedarrow)
			+svg(arrow__top, 19, 12)
	&.is-collapsed
		height: 60px
		.promoted__in
			padding-top: 0
			padding-bottom: 0
		.promoted__toggle
			bottom: 5px
			+rotate(180)

.promoted__entry
	overflow: hidden
	text-decoration: none
	display: block
	position: relative
	+mob
		padding: 40px 40px
	+mob
		overflow: visible
	&.is-loading:after
		content: '•'
		position: absolute
		color: #2A40C8
		text-shadow: -10px 0 #2A40C8, 10px 0 #2A40C8
		right: 180px
		bottom: 23px
	.promoted__pic
		float: right
		margin-left: 100px
		+mob
			float: none
			display: block
			margin: 0 10px 0 0
	.promoted__title
		+lite
		color: #181c40
		font-size: 22px
		text-decoration: none
		line-height: 1.3
		font-weight: normal
		padding-top: 5px
		+mob
			margin-bottom: 15px
			margin-top: 15px
		&:hover
			color: $blue
	.promoted__date
		margin-top: 10px
		color: #9c9ea8
		font-size: 11px
	.is-collapsed &
		position: relative
		padding-top: 15px
		.promoted__pic
			display: none
		.promoted__date
			font-size: 11px
			color: #C9C6CA
			margin: 0
		.promoted__title
			color: #a0afc3
			font-size: 12px
			padding-top: 0
	&.is-active
		&:before
			position: absolute
			bottom: 25px
			right: -20px
			+s(hentryactive)
			content: ' '
	&.is-loading
		+is-loading
			right: 20px
			bottom: -23px
