.content
	background: #F5F5F6
	&.content_main
		//box-shadow: inset 0 15px 15px -15px rgba(black, 0.1)
	&.content_alt
		background: #ECECEE
	.content__in
		@extend %in
		padding-top: 40px 
		padding-bottom: 40px 
	&.content_top
		background: #fff 
		.content__in
			padding-top: 0 
			padding-bottom: 0 
	.content__sep
		border-top: 1px solid #EEEFF2 
		&.content__sepshadow
			position: relative
			&:before
				position: absolute
				top: 0px 
				height: 14px 
				width: 100% 
				content: ' '
				+g(#F3F4F6, rgba(#F3F4F6, 0))
				



.cols
	margin-right: -50px
	@extend %clr
	.col
		width: 320px
		float: left
		margin-right: 40px

.promoted
	background: #fff
	position: relative
	height: 180px
	+transition(all 0.3s linear)
	overflow: hidden
	.promoted__in
		@extend %in
		padding-top: 40px 
		padding-bottom: 40px 
	.promoted__toggle
		position: absolute
		right: 20px
		bottom: 20px
		cursor: pointer
		width: 18px + 40px
		height: 11px   + 40px
		opacity: .5 
		i
			position: absolute
			margin-left: -9px 
			margin-top: -6px 
			top: 50% 
			left: 50% 
			+s(promotedarrow)
			+svg(arrow__top,19,12)
	&.is-collapsed
		height: 60px
		.promoted__in
			padding-top: 0
			padding-bottom: 0 
		.promoted__toggle
			bottom: 5px
			+rotate(180)

.promoted__entry
	overflow: hidden
	text-decoration: none
	display: block
	.promoted__pic
		float: right
		margin-left: 100px
	.promoted__title
		+lite
		color: #181c40
		font-size: 22px
		text-decoration: none
		line-height: 1.3
		font-weight: normal
		padding-top: 5px
	.promoted__date
		margin-top: 10px
		color: #9c9ea8
		font-size: 11px
	.is-collapsed &
		position: relative
		padding-top: 15px 
		.promoted__pic
			display: none
		.promoted__date
			font-size: 11px
			color: #C9C6CA
			margin: 0 
		.promoted__title
			color: #a0afc3
			font-size: 12px
			padding-top: 0 
