.page
	background: #FCFCFD
	padding: 40px
	margin-bottom: 40px
	p
		margin-bottom: 1.7em
		font-size: 16px
		color: #343646
		line-height: 1.4
	.slider
		margin: 20px -120px 28px -120px
	.lead
		font-size: 22px
		+lite
		color: #343646 
	