.page
	margin-bottom: 40px
	p
		margin-bottom: 1.7em
		font-size: 16px
		color: #343646
		line-height: 1.5
		strong
			+reg
			font-weight: normal
	.slider
		//margin: 20px -100px 28px -100px
		margin: 20px 0 30px 0
	.lead
		font-size: 18px
		+lite
		color: #1E1836 
		margin-bottom: 1.7em
		line-height: 1.5
	.pic
		margin: 30px 0 40px 
		img
			width: 100% 
			display: block
	h3
		font-size: 16px 
		margin-bottom: 27px
		color: #30BE9A
		font-weight: normal
		+reg
		a
			color: $green
			text-decoration: none
	h4
		font-size: 16px
		color: $blue
		margin-bottom: 27px
		font-weight: normal
		+reg
		a
			color: $blue
			text-decoration: none

.page__bottom
	margin: 40px -100px -40px -100px
	padding: 45px 100px 
	border-top: 1px solid #F2F2F2  
.spravka
	@extend .page
	background: #fff
	padding: 50px 80px 0 80px
	.lead
		color: $blue
	.spravka__bottom
		margin: 40px -80px 0 -80px
		border-top: 1px solid #F2F2F2
		padding: 50px 80px   
.greenbutton
	background: $green
	display: block
	text-decoration: none
	color: #fff
	font-size: 12px   
	text-align: center
	border-radius: 3px
	height: 40px 
	line-height: 40px 
		
.president
	.h1
		margin-bottom: 10px 
	.president__history
		dd
			font-size: 16px 
			color: #1D1735 
			margin-bottom: 30px
			padding-right: 180px 
		dt
			float: right
			font-size: 16px 
			color: #2A40C8 
.list
	margin-bottom: 60px
	.list__header
		font-weight: normal
		+reg
		font-size: 16px
		margin-bottom: 13px
		color: #1D1736  
	.list__hidden
		display: none
	.list__ul
		list-style: none
		margin: 0
		padding: 0
		font-size: 15px
		
		a
			display: block
			padding: 13px 0
			text-decoration: none
			color: #222
			border-top: 1px solid #E1E1E1
			&:hover
				color: $blue
		.list__more
			color: #B0AEB8
			&:hover
				color: #30BE9A
.structure
	h3
		color: #2A3FC8
.contact
	display: inline-block
	width: 320px 
	dt
		+condbold
		font-size: 32px 
		line-height: 1 
	dd
		+reg
		font-size: 16px 
		color: #565268 
.contactperson
	overflow: hidden
	width: 100%
	margin-bottom: 50px 
	&.contactperson_first
		border-bottom: 1px solid #E0E0E0 
		padding-bottom: 60px 
	.contact
		width: 220px 
		dt
			font-size: 24px 
	.contactperson__position
		margin-bottom: 10px 
	.contactperson__name
		font-size: 24px 
		+condbold
		margin-bottom: 14px 
	.contactperson__photo
		float: right
		margin-left: 50px 
		+svg(contact,140,140)