.page
	margin-bottom: 40px
	p
		margin-bottom: 1.7em
		font-size: 16px
		color: #343646
		line-height: 1.5
		strong
			+reg
			font-weight: normal
	.slider
		//margin: 20px -100px 28px -100px
		margin: 20px 0 30px 0
	.lead
		font-size: 18px
		+lite
		color: #1E1836 
	.pic
		margin: 30px 0 40px 
		img
			width: 100% 
			display: block
	h3
		font-size: 16px 
		margin-bottom: 27px 
		color: #30BE9A
		font-weight: normal
		+reg 
.page__bottom
	margin: 40px -100px -40px -100px
	padding: 45px 100px 
	border-top: 1px solid #F2F2F2  
.greenbutton
	background: #78C8B4
	display: block
	text-decoration: none
	color: #fff
	font-size: 12px   
	text-align: center
	border-radius: 3px
	height: 40px 
	line-height: 40px 
		
	