<!-- BEGIN  content-->
<div class="content content_alt admincomis">
	<div class="content__in">
		<!-- begin admincomis -->
		<div class="admincomis__block is-active" data-block="admin">
		 	<h2 class="h2"><a href='#'>Администрация Президента России</a></h2>
			<!-- begin cols -->
			<div class="cols">
				<!-- BEGIN  col-->
				<div class="col">
					<!-- BEGIN  hentry-->
					<div class="hentry">
						<h2  class="hentry__title"><a href="#">Поздравление православных христиан с Рождеством Христовым</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
					<!-- BEGIN  hentry-->
					<div class="hentry hentry_inactive hentry_last">
						<h2  class="hentry__title"><a href="#">Внесены изменения в закон о недрах,
							согласно которым торги на право
							пользования участками могут
							проводиться исключительно
							в форме аукциона</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
				</div>
				<!-- END col-->
				
				<!-- BEGIN  col-->
				<div class="col">
					<!-- BEGIN  hentry-->
					<div class="hentry">
						<h2 class="hentry__title"><a href="#">Поздравление православных христиан с Рождеством Христовым</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
					<!-- BEGIN  hentry-->
					<div class="hentry hentry_last">
						<h2 class="hentry__title"><a href="#">Внесены изменения в закон о недрах,
		согласно которым торги на право
		пользования участками могут
		проводиться исключительно
		в форме аукциона</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
				</div>
				<!-- END col-->
			
			</div>
			<!-- end cols -->
		</div>
		<!-- END admincomis -->

		<!-- begin admincomis -->
		<div class="admincomis__block" data-block="comis">
			<h2 class="h2 is-inactive"><a href="#">Комиссии и Советы при Президенте России</a></h2>
			<!-- begin cols -->
			<div class="cols" hidden>
				<!-- BEGIN  col-->
				<div class="col">
					<!-- BEGIN  hentry-->
					<div class="hentry">
						<h2  class="hentry__title"><a href="#">Поздравление православных христиан с Рождеством Христовым</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
					<!-- BEGIN  hentry-->
					<div class="hentry hentry_inactive hentry_last">
						<h2  class="hentry__title"><a href="#">Внесены изменения в закон о недрах,
							согласно которым торги на право
							пользования участками могут
							проводиться исключительно
							в форме аукциона</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
				</div>
				<!-- END col-->
				
				<!-- BEGIN  col-->
				<div class="col">
					<!-- BEGIN  hentry-->
					<div class="hentry">
						<h2 class="hentry__title"><a href="#">Поздравление православных христиан с Рождеством Христовым</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
					<!-- BEGIN  hentry-->
					<div class="hentry hentry_last">
						<h2 class="hentry__title"><a href="#">Внесены изменения в закон о недрах,
		согласно которым торги на право
		пользования участками могут
		проводиться исключительно
		в форме аукциона</a></h2>
						<div class="hentry__meta">7 января 2013 года, 09:00</div>
					</div>
					<!-- END hentry-->
				</div>
				<!-- END col-->
		</div>
		<!-- END admincomis -->
	</div>
</div>
<!-- END content