<!-- Begin sidenav  -->
<aside class="sidenav">
	<div class="sidenav__content">
		<h3>Информационные ресурсы Президента России</h3>
		<ul class="sidenav__main">
			<li  class="is-active"><a href='#'>Президент России <span>Текущий ресурс</span></a></li>
			<li><a href='#'>Конституция России</a></li>
			<li><a href='#'>Государственная символика</a></li>
			<li><a href='#'>Прием обращений граждан России</a></li>
			<li><a href='#'>Президент России — <br>гражданам школьного <br>возраста</a></li>
			<li><a href='#'>Виртуальный тур по Кремлю</a></li>
			<li><a href='#'>Владимир Путин — личный сайт</a></li>
		</ul>
		<ul class="sidenav__other">
			<li><a href="#"><i></i>Версия для людей с ограниченными возможностями</a></li>
			<li><a href="#">Канал на Youtube</a></li>
			<li><a href="#">Официальный Твиттер</a></li>
			<li><a href="#">English</a></li>
		</ul>
	</div>
</aside>
<!-- end sidenav -->