<!-- BEGIN  footer-->
<footer class="footer">
	<div class="footer__in">
		<!-- BEGIN  footer__col-->
		<div class="footer__col">
			<h3><a href='#'>Разделы сайта Президента России</a></h3>
			<ul>
				<li><a href="#">События</a></li>
				<li><a href="#">Структура</a></li>
				<li><a href="#">Видео и фото</a></li>
				<li><a href="#">Документы</a></li>
				<li><a href="#">Контакты</a></li>
				<li class="footer__search"><a href="#"><i></i>Поиск</a></li>
			</ul>
			<ul>
				<li><a href="#">Справочник</a></li>
				<li><a href="#">Для СМИ</a></li>
				<li class="footer__special"><a href="#"><i></i>Версия для людей с ограниченными  возможностями</a></li>
				<li><a href="#">English</a></li>
			</ul>
			<ul>
				<li><a href="#">Официальный Твиттер</a></li>
				<li><a href="#">Канал на Youtube</a></li>
			</ul>
		</div>
		<!-- END footer__col-->
		<!-- BEGIN  footer__col-->
		<div class="footer__col">
			<h3><a href="#">Структура портала
Президента
России</a></h3>
			<ul>
				<li class="footer__currentsite"><a href="#">Президент России <span>Текущий ресурс</span></a></li>
				<li><a href="#">Конституция России</a></li>
				<li><a href="#">Государственная <br>символика</a></li>
				<li><a href="#">Прием обращений <br>граждан России</a></li>
				<li><a href="#">Президент России — <br>гражданам школьного возраста</a></li>
				<li><a href="#">Виртуальный тур по Кремлю</a></li>
				<li><a href="#">Владимир Путин — личный сайт</a></li>

			</ul>
		</div>
		<!-- END footer__col-->
		<!-- BEGIN  footer__col-->
		<div class="footer__col">
			<h3><a href="#">Специальные
проекты по
защите животных</a></h3>
			<ul>
				<li><a href="#">Амурский тигр</a></li>
				<li><a href="#">Белуха — белый кит</a></li>
				<li><a href="#">Белый медведь</a></li>
				<li><a href="#">Ирбис — снежный барс</a></li>
				<li><a href="#">Дальневосточный леопард</a></li>
			</ul>
		</div>
		<!-- END footer__col-->
		<!-- BEGIN  footer__col-->
		<div class="footer__col footer__col_last">
			<h3><a href='#'>Официальная
и техническая
информация</a></h3>
			<ul>
				<li><a href="#">О портале</a></li>
				<li><a href="#">Об использовании информации с сайта</a></li>
				<li><a href="#">Написать в редакцию</a></li>
				<li><a href="#">Архив материалов за 2000 — 2008 годы</a></li>
			</ul>
			<div class="footer__license">
				<i></i>
				<p>Все опубликованные материалы доступны на условиях свободной  публичной лицензии</p> <p>Creative Commons Attribution 3.0</p>
			</div>
		</div>
		<!-- END footer__col-->
		<div class="footer__copy">Администрация Президента России. <span>2013.</span></div>
		<div class="footer__logo"></div>
	</div>
</footer>
<!-- END footer-->