<!-- BEGIN  read-->
<div class="read__wrap">
<div class="read__overlay"></div>
<div class="read">
<!-- 	<div class="read__top">
		<div class="read__loadarticle is-active"><i></i></div>
		<div class="read__sep"><i></i></div>
		<div class="read__loadphoto"><i><span>2</span></i></div>
		<div class="read__sep"></div>
		<div class="read__loadvideo"><i><span>20</span></i></div>
		<div class="read__share"><i></i></div>
	</div> -->
	<div class="read__in">
	
		
		<div class="read__content">
			<div class="read__categ">Совещания и встречи</div>
			<h1>Заседание Комиссии по вопросам военно-технического сотрудничествас иностранными государствами</h1>
			<p class="lead">Участники заседания подвели итоги военно-технического
			сотрудничества России с зарубежными странами в 2012 году,
			обсудили перспективные направления работы.
			</p>
			<div class="read__meta">
				<div class="read__time">19:10</div>
				<div class="read__published">17 декабря 2012 года, 12:30</div>
				<div class="read__location"><i></i>Москва, Кремль</div>
			</div>
			<!-- BEGIN slider -->
			<div class="slider">
				<div class="slider__next"><i></i></div>
				<div class="slider__prev"><i></i></div>
				<div class="slider__slides cycle-slideshow"
					data-cycle-fx="scrollHorz"
					data-cycle-pause-on-hover="true"
					data-cycle-slides="> .slider__slide"
					data-cycle-prev=".slider__prev"
					data-cycle-next=".slider__next">
					<div class="slider__slide">
						<img src="img/1f.jpg" data-text="Перед началом заседания Комиссии" alt="">
						<div class="slider__slidetitle">Перед началом заседания Комиссии</div>
					</div>
					<div class="slider__slide">
						<img src="img/1f.jpg" data-text="Перед началом заседания Комиссии" alt="">
						<div class="slider__slidetitle">Перед началом заседания Комиссии</div>
					</div>
				
				</div>
			</div>
			<!-- end slider -->
			<p>В. Путин: Уважаемые коллеги, добрый день!</p>

			<p>На сегодняшнем заседании предлагаю подвести предварительные итоги работы за 2012 год. Конечно, поговорим о перспективных задачах, о том, как повысить эффективность нашего военно-технического сотрудничества с другими странами.</p>

			<p>В состав нашей комиссии вошёл Сергей Кужугетович Шойгу, вы его хорошо знаете, — Министр обороны Российской Федерации. Он человек опытный, профессиональный. Уверен, активно подключится к нашей совместной работе.</p>

			<p>Теперь о результатах как таковых — они позитивные. В текущем году мы выходим на рекордный уровень по экспортным поставкам военной продукции. Их объём превысил 14 миллиардов долларов США, то есть план на год перевыполнен.</p>	
			<!-- BEGIN slider -->
		<!-- 	<div class="slider">
				<div class="slider__next"><i></i></div>
				<div class="slider__prev"><i></i></div>
				<div class="slider__slides cycle-slideshow"
    										data-cycle-fx="scrollHorz"
											data-cycle-pause-on-hover="true"
											data-cycle-prev=".slider__prev"
											data-cycle-next=".slider__next">
					<img src="img/pic1.jpg" data-text="Перед началом заседания Комиссии" alt="">
					<img src="img/pic2.jpg" data-text="Перед началом заседания Комиссии" alt="">
				</div>
				<div class="slider__title">
					Перед началом заседания Комиссии
				</div>
			</div> -->
			<!-- end slider -->
			<p>При этом хотел бы отметить и качественные изменения в системе ВТС. Наряду с традиционными поставками современных систем вооружения развиваются новые направления деятельности, имею в виду прежде всего совместное производство продукции военного назначения и исследовательские разработки. Такая кооперация с партнёрами позволяет снижать издержки производства, повышать конкурентоспособность нашей продукции и создавать условия для выхода на рынки третьих стран.</p>

			<p>Считаю очень важным и тот факт, что мы всерьёз занялись восстановлением своих позиций на рынке услуг по модернизации и ремонту военной (ещё советской) техники. Прежде всего это важно для того, чтобы подтвердить нашу компетенцию, иметь возможность закрепиться на наших традиционных рынках, поучаствовать в ремонтах, модернизации, – это тоже достаточно большой объём заказов.</p>

			<p>Всё это позволяет не только сохранить существующий портфель заказов в сфере ВТС, но и рассчитывать на его увеличение. Так, только за текущий год были заключены новые экспортные контракты на сумму свыше 15 миллиардов долларов.</p>

			<p>Российские оборонные предприятия получают уверенный задел на будущее, возможность создавать рабочие места и обновлять материально-техническую базу производства, проводить масштабные научно-исследовательские работы и внедрять передовые технологии в свою работу в целом.</p>

			<p>Укрепляются позиции нашей страны как одного из ведущих мировых производителей военной продукции специального назначения. Россия, конечно, продолжит сотрудничество со своими традиционными партнёрами в сфере ВТС, но не менее важно для нас выходить на новые рынки, расширять номенклатуру поставок и сервисных услуг.</p>
			

			<p>Мы понимаем, что конкурентная борьба в этом сегменте международного рынка очень высокая, очень серьёзная. И чтобы преуспеть в этой борьбе, мы должны работать на опережение, предоставлять нашим производителям и разработчикам вооружения больше</p>
			<blockquote class="blockquote_center">
				<p>Поэтому в центре нашей с вами работы должен
быть человек с его житейскими заботами
и ежедневными проблемами</p>
			</blockquote>
			<p>
			выставках, проходящих в зарубежных странах, а в России, как я сказал, также сложилась своя система востребованных и авторитетных демонстрационных площадок.</p>

			<p>Ежегодно мы принимаем до десяти международных форумов, многие из которых получили мировое признание: это авиакосмический салон МАКС и форум «Технологии в машиностроении» в подмосковном Жуковском, военно-морской салон в Санкт-Петербурге и российская выставка вооружений в Нижнем Тагиле.</p>

			<p>Конечно, необходимо постоянно повышать уровень организации такого рода мероприятий, последовательно развивать соответствующую инфраструктуру. Проведение выставок – это отличная возможность продемонстрировать реальные позиции и потенциал России как одного из лидеров глобального рынка вооружений, наладить взаимовыгодные контракты со смежными гражданскими отраслями, с отечественными... деловыми кругами. И особо отмечу, что такая работа должна помочь в деле военно-патриотического воспитания наших граждан, особенно молодёжи.</p>

			<p>Предлагаю сегодня подробно обсудить шаги по реализации наших предложений нашим партнёрам по развитию выставочной деятельности. Нужно уметь, как говорится, показать товар лицом, а значит, расширить наши возможности в сфере военно-технического сотрудничества. Давайте все эти вопросы обсудим.</p>
			<div class="read__bottommeta">
				<div class="read__tags">
					<a href="#">Права человека, <span>и еще 6 тегов</span></a>
				</div>
				<div class="read__copy">© Фотографии Пресс-службы Президента России</div>
			</div>
			
			<!-- <ul class="materials">
				<li><i></i>
					<a href="#">Награждённые государственными наградами
Российской Федерации</a>
				</li>
				<li><i></i>
					<a href="#">Поздравление сотрудникам и ветеранам
органов безопасности
с профессиональным праздником</a>
				</li>
			</ul> -->
		</div>
		<!-- end content -->
	</div>
	<div class="read__tabs">
		<div class="read__loadarticle is-active"><i></i></div>
		<div class="read__sep"><i></i></div>
		<div class="read__loadphoto"><i><span>2</span></i></div>
		<div class="read__sep"></div>
		<div class="read__loadvideo"><i><span>20</span></i></div>
		<div class="read__share"><i></i></div>
	</div>
	<div class="read__updated">Последнее обновление материала 17 декабря 2012 года, 12:30</div>
</div>
</div>
<!-- END read-->