<!-- BEGIN  read-->
<div class="read__wrap">
<div class="read__overlay"></div>
<div class="read">
<!-- 	<div class="read__top">
		<div class="read__loadarticle is-active"><i></i></div>
		<div class="read__sep"><i></i></div>
		<div class="read__loadphoto"><i><span>2</span></i></div>
		<div class="read__sep"></div>
		<div class="read__loadvideo"><i><span>20</span></i></div>
		<div class="read__share"><i></i></div>
	</div> -->
	<div class="read__in">
	
		
		<div class="read__content">
			<div class="read__categ">Совещания и встречи</div>
<!-- 			<h1>Заседание Комиссии по вопросам военно-технического сотрудничествас иностранными государствами</h1>
			<p class="lead">Участники заседания подвели итоги военно-технического
			сотрудничества России с зарубежными странами в 2012 году,
			обсудили перспективные направления работы.
			</p>
			<div class="read__meta">
				<div class="read__time">19:10</div>
				<div class="read__published">17 декабря 2012 года, 12:30</div>
				<div class="read__location"><i></i>Москва, Кремль</div>
			</div> -->
			
		
			<div class="read__bottommeta">
				<div class="read__tags">
					<a href="#">Права человека, <span>и еще 6 тегов</span></a>
				</div>
				<div class="read__copy">© Фотографии Пресс-службы Президента России</div>
			</div>
			
			<!-- <ul class="materials">
				<li><i></i>
					<a href="#">Награждённые государственными наградами
Российской Федерации</a>
				</li>
				<li><i></i>
					<a href="#">Поздравление сотрудникам и ветеранам
органов безопасности
с профессиональным праздником</a>
				</li>
			</ul> -->
		</div>
		<!-- end content -->
	</div>
	<div class="read__tabs">
		<div class="read__loadarticle is-active"><i></i></div>
		<div class="read__sep"><i></i></div>
		<div class="read__loadphoto"><i><span>2</span></i></div>
		<div class="read__sep"></div>
		<div class="read__loadvideo"><i><span>20</span></i></div>
		<div class="read__share"><i></i></div>
	</div>
	<div class="read__updated">Последнее обновление материала 17 декабря 2012 года, 12:30</div>
</div>
</div>
<!-- END read -->