<!-- BEGIN  sites-->
<div class="sites" data-minheight="320">
	<div class="sites__in">
		<div class="sites__toggle"></div>
		<ul>
			<li><a href="#" class="site site_withbg">Правительство
Российской Федерации <span>GOVERMENT.RU</span><div class="site__arrow"></div></a></li>
			<li><a href="#" class="site">Правительство
			Российской Федерации <span>GOVERMENT.RU</span></a></li>
			<li><a href="#" class="site">Правительство
			Российской Федерации <span>GOVERMENT.RU</span></a></li>
			<li><a href="#" class="site">Правительство
Российской Федерации <span>GOVERMENT.RU</span></a></li>
<li><a href="#" class="site">Правительство
Российской Федерации <span>GOVERMENT.RU</span></a></li>
			<li><a href="#" class="site">Правительство
			Российской Федерации <span>GOVERMENT.RU</span></a></li>
			<li><a href="#" class="site">Правительство
			Российской Федерации <span>GOVERMENT.RU</span></a></li>
			<li><a href="#" class="site">Правительство
Российской Федерации <span>GOVERMENT.RU</span></a></li>
		</ul>

	</div>
</div>
<!-- END sites-->