<!-- begin topline -->
<div class="topline">
	<div class="topline__in">
		<div class="topline__toggleaside"><i></i></div>
		<a href="index.html" class="topline__head">
			<div class="topline__logo"></div>
			Президент России
		</a>
		<ul class="topline__nav">
			<li><a href="events.html">События</a></li>
			<li><a href="media.html">Фото и видео</a></li>
			<li><a href="docs.html">Структура</a></li>
			<li><a href="contacts.html">Контакты</a></li>
			<li><a href="docs.html">Документы</a></li>
			<li><a href="#" class="topline__search">Поиск</a></li>
		</ul>
		<div class="search">
			<div class="search__dots"></div>
			<div class="search__input">
				<input type="text" />
				<div class="search__advanced">
					Расширенный поиск
				</div>
			</div>
			<div class="search__submit">
				<input type="submit" value="Найти">
				Найти
			</div>
		</div>
	</div>
</div>
<!-- end topline -->