<!-- begin topline -->
<div class="topline">
	<div class="topline__in">
		<div class="topline__toggleaside"><i></i></div>
		<a href="#" class="topline__head">
			<div class="topline__logo"></div>
			Президент России
		</a>
		<ul class="topline__nav">
			
			<li><a href="#">События</a></li>
			<li><a href="#">Фото и видео</a></li>
			<li><a href="#">Структура</a></li>
			<li><a href="#">Контакты</a></li>
			<li><a href="#">Документы</a></li>
			<li><a class="topline__search" href="#">Поиск</a></li>
		</ul>
		<div class="search">
			<div class="search__dots"></div>
			<div class="search__input">
				<input type="text" />
				<div class="search__advanced">
					Расширенный поиск
				</div>
			</div>
			<div class="search__submit">
				<input type="submit" value="Найти">
				Найти
			</div>
		</div>
	</div>
</div>
<!-- end topline -->