@font-face {
    font-family: 'NewsGothicBTDemi';
    src: url('ngt65.eot');
    src: url('ngt65.eot') format('embedded-opentype'),
         url('ngt65.woff') format('woff'),
         url('ngt65.ttf') format('truetype'),
         url('ngt65.svg#NewsGothicBTDemi') format('svg');
}
