.hentry .hentry__assets a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.cols {
  *zoom: 1; }
  .cols:before, .cols:after {
    content: " ";
    display: table; }
  .cols:after {
    clear: both; }

.content .content__in, .topline .topline__in, .footer .footer__in, .sites .sites__in, .promoted .promoted__in {
  width: 680px;
  padding-left: 160px; }

@media only screen and (max-width: 1480px) {
  .is-reading .wrapsite {
    position: fixed;
    width: 100%; } }
@media only screen and (min-width: 1480px) {
  .is-reading {
    overflow: auto;
    overflow-x: hidden; } }

.read__wrap {
  min-width: 840px;
  bottom: 0;
  height: auto;
  right: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-top: -15px;
  -webkit-transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out; }
  .is-reading .read__wrap {
    opacity: 1;
    z-index: 200;
    position: absolute;
    margin-top: 0; }
    @media only screen and (min-width: 1480px) {
      .is-reading .read__wrap {
        left: 880px;
        position: fixed;
        right: 10px;
        overflow: auto;
        min-width: 0; } }

.read__overlay {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); }
  @media only screen and (min-width: 1480px) {
    .read__overlay {
      display: none; } }

.read {
  width: 680px;
  position: relative;
  z-index: 10;
  min-width: 560px;
  margin-bottom: 40px;
  margin-left: 160px; }
  @media only screen and (min-width: 1480px) {
    .read {
      width: auto;
      margin-left: 0;
      margin-bottom: 0;
      left: 0; } }

.is-wide.is-reading .read__wrap {
  opacity: 0.5; }
.is-wide.is-reading .overlayforeverything {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: -1;
  opacity: 0; }
.is-wide.is-reading .overlayforeverything {
  z-index: 9000;
  opacity: 0.3;
  display: none; }
.is-wide.is-reading .read__wrap {
  opacity: 1;
  z-index: 10000; }

.wrapfix__holder {
  height: 120px; }
  .wrapfix__holder .wrapfix {
    background: white;
    z-index: 140;
    width: 100%;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.1); }

.state1 {
  position: fixed;
  top: 0; }

.state2 {
  position: absolute; }

.state3 {
  position: fixed;
  top: 60px; }

@font-face {
  font-family: book;
  src: url("fonts/frg55-webfont.eot");
  src: url("fonts/frg55-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg55-webfont.woff") format("woff"), url("fonts/frg55-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: bookcond;
  src: url("fonts/frg57-webfont.eot");
  src: url("fonts/frg57-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg57-webfont.woff") format("woff"), url("fonts/frg57-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: regular;
  src: url("fonts/frg65-webfont.eot");
  src: url("fonts/frg65-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg65-webfont.woff") format("woff"), url("fonts/frg65-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: regularcond;
  src: url("fonts/frg67-webfont.eot");
  src: url("fonts/frg67-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg67-webfont.woff") format("woff"), url("fonts/frg67-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: demi;
  src: url("fonts/frg75-webfont.eot");
  src: url("fonts/frg75-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg75-webfont.woff") format("woff"), url("fonts/frg75-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: demicond;
  src: url("fonts/frg77-webfont.eot");
  src: url("fonts/frg77-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/frg77-webfont.woff") format("woff"), url("fonts/frg77-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none; } }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

body {
  font-family: "book", arial, sans-serif;
  line-height: 1.4; }

a img, fieldset {
  border: none; }

.submit {
  border-radius: 3px/3px 3px 2px 2px;
  background-color: #fbfbfd;
  box-shadow: 0 1px 4px rgba(70, 76, 98, 0.15);
  display: inline-block;
  font-size: 16px;
  color: #37a58c;
  padding: 0 82px;
  height: 39px;
  line-height: 39px;
  cursor: pointer; }

.h1 {
  font-size: 33px;
  color: #3656cc;
  margin-bottom: 37px;
  font-weight: normal;
  font-family: "regularcond", arial, sans-serif; }

.h2 {
  font-family: "book", arial, sans-serif;
  color: #141018;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 34px; }
  .h2 a {
    color: #414664;
    text-decoration: none; }
  .h2.is-inactive {
    margin: 36px 0 10px 0; }
    .h2.is-inactive a {
      color: #9c9ea8;
      text-decoration: none; }
  .h2.h2_blue {
    color: #3656cc; }

.links {
  list-style: none;
  background: #fcfcfd; }
  .links li {
    font-size: 20px;
    font-family: "book", arial, sans-serif;
    color: #181c40; }
    .links li:last-child a {
      border-bottom: none; }
  .links a {
    text-decoration: none;
    display: block;
    padding: 32px 80px 32px 40px;
    color: #181c40;
    border-bottom: 1px solid #e1e2e7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative; }
    .links a:before {
      position: absolute;
      top: 50%;
      right: 50px;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1152px no-repeat;
      width: 11px;
      height: 19px;
      content: " ";
      margin-top: -10px;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .links a.is-active, .links a:hover {
      color: #3656cc;
      z-index: 2;
      -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
      border-bottom-color: #fcfcfd; }
      .links a.is-active:before, .links a:hover:before {
        right: 38px;
        opacity: 1; }
    .links a:hover {
      z-index: 3; }

.wrapsite {
  padding-top: 60px; }

@-moz-keyframes fade {
  from {
    opacity: 1; }

  to {
    opacity: 0.4; } }

@-webkit-keyframes fade {
  from {
    opacity: 1; }

  to {
    opacity: 0.4; } }

@-o-keyframes fade {
  from {
    opacity: 1; }

  to {
    opacity: 0.4; } }

@-ms-keyframes fade {
  from {
    opacity: 1; }

  to {
    opacity: 0.4; } }

@keyframes fade {
  from {
    opacity: 1; }

  to {
    opacity: 0.4; } }

.topline {
  background: #272446;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 220;
  width: 100%; }
  .topline:hover .topline__toggleaside i {
    opacity: 1;
    -webkit-animation: fade 3s linear 1 forwards;
    -moz-animation: fade 3s linear 1 forwards;
    -ms-animation: fade 3s linear 1 forwards;
    -o-animation: fade 3s linear 1 forwards;
    animation: fade 3s linear 1 forwards; }
  .topline .topline__toggleaside {
    position: fixed;
    cursor: pointer;
    z-index: 40;
    height: 60px;
    width: 66px;
    left: 0;
    top: 0; }
    .topline .topline__toggleaside i {
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -676px no-repeat;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 21px;
      left: 24px;
      opacity: 0.4; }
    .topline .topline__toggleaside:hover i {
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1282px no-repeat;
      width: 18px;
      height: 18px;
      opacity: 1;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      -o-animation: none;
      animation: none; }
  .topline .topline__in {
    position: relative; }
  .topline .topline__head {
    float: left;
    font-size: 15px;
    color: white;
    position: relative;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    padding-right: 23px;
    margin-right: 23px; }
    .topline .topline__head:before {
      border-left: 1px solid #1e3d63;
      position: absolute;
      right: 0;
      content: " ";
      height: 20px;
      top: 21px;
      width: 1px; }
    .topline .topline__head .topline__logo {
      position: absolute;
      left: -56px;
      top: 13px;
      display: inline-block;
      background: url("../img/svg/biglogo.svg") no-repeat 0 0;
      -webkit-background-size: 33px 32px;
      -moz-background-size: 33px 32px;
      -o-background-size: 33px 32px;
      background-size: 33px 32px;
      width: 33px;
      height: 32px;
      display: inline-block; }
  .topline .topline__nav {
    list-style: none;
    font-size: 15px;
    margin-right: -20px; }
    .topline .topline__nav li {
      float: left;
      margin-right: 20px;
      height: 60px;
      line-height: 60px; }
    .topline .topline__nav a {
      color: #a0afc3;
      text-decoration: none; }
      .topline .topline__nav a:hover, .topline .topline__nav a.is-active {
        color: #f5f5f6; }
  .topline.is-withsearch .search {
    top: 18px; }
  .topline .search {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -50px;
    height: 42px;
    left: 320px;
    z-index: 20;
    background: #272446; }
    .topline .search .search__dots {
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1030px no-repeat;
      width: 36px;
      height: 8px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      cursor: pointer; }
    .topline .search .search__input {
      display: inline-block;
      width: 416px;
      position: relative;
      height: 24px;
      vertical-align: middle; }
      .topline .search .search__input input {
        position: relative;
        height: 24px;
        line-height: 24px;
        width: 396px;
        padding: 0 10px;
        background: white;
        border-style: none;
        border-radius: 4px; }
    .topline .search .search__submit {
      display: inline-block;
      position: relative;
      font-size: 15px;
      color: #a0afc3;
      margin-left: 5px;
      cursor: pointer; }
      .topline .search .search__submit:active {
        position: relative;
        top: 1px; }
      .topline .search .search__submit input {
        opacity: 0;
        position: absolute;
        -webkit-appearance: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block; }
    .topline .search .search__advanced {
      display: inline-block;
      position: absolute;
      font-family: Tahoma, sans-serf;
      font-size: 10px;
      color: #bcbec8;
      right: 10px;
      top: 7px;
      line-height: 1;
      cursor: pointer; }
      .topline .search .search__advanced:hover {
        text-decoration: underline; }

.footer {
  background: #1e2031;
  padding: 50px 0;
  font-size: 12px;
  color: #68718b;
  line-height: 1.4; }
  .footer .footer__in {
    position: relative; }
  .footer .footer__col {
    width: 150px;
    float: left;
    margin-bottom: 38px;
    margin-right: 20px; }
    .footer .footer__col.footer__col_last {
      float: right;
      margin-right: 0;
      padding-bottom: 100px; }
  .footer h3 {
    font-size: 18px;
    font-family: "regularcond", arial, sans-serif;
    font-weight: normal;
    color: #848cae;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-right: 24px; }
    .footer h3 a {
      text-decoration: none;
      color: #6c7396;
      display: inline-block; }
      .footer h3 a:hover {
        color: #c2c6d2; }
  .footer ul {
    list-style: none;
    margin-bottom: 36px; }
    .footer ul li {
      margin-bottom: 1.1em; }
    .footer ul a {
      color: #6c7396;
      text-decoration: none; }
      .footer ul a:hover {
        color: #a0afc3; }
    .footer ul .footer__currentsite a {
      color: #6c7396; }
    .footer ul .footer__currentsite span {
      display: block;
      color: #414664; }
  .footer .footer__copy {
    clear: both;
    position: relative;
    top: -15px;
    color: #414664; }
    .footer .footer__copy span {
      display: block; }
  .footer .footer__special {
    position: relative; }
    .footer .footer__special i {
      position: absolute;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -538px no-repeat;
      width: 13px;
      height: 9px;
      top: 3px;
      left: -34px;
      opacity: 0.3; }
  .footer .footer__search {
    position: relative; }
    .footer .footer__search i {
      position: absolute;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -948px no-repeat;
      width: 13px;
      height: 13px;
      top: 1px;
      left: -34px;
      opacity: 0.3; }
  .footer .footer__license {
    margin-top: 30px;
    color: #414664; }
    .footer .footer__license p {
      margin-bottom: 1em; }
    .footer .footer__license i {
      display: inline-block;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -704px no-repeat;
      width: 20px;
      height: 20px;
      margin-bottom: 8px;
      display: inline-block; }
  .footer .footer__logo {
    position: absolute;
    right: 34px;
    bottom: 0;
    background: url("../img/svg/biglogo.svg") no-repeat 0 0;
    -webkit-background-size: 120px 120px;
    -moz-background-size: 120px 120px;
    -o-background-size: 120px 120px;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    display: inline-block;
    opacity: 0.2; }

.sidenav {
  height: 400px;
  background: #182472; }

.wrapsite__overlay, .wrapsite__overlayfixed {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -2;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.6); }
  .is-withsidebar .wrapsite__overlay, .is-withsidebar .wrapsite__overlayfixed {
    z-index: 300;
    opacity: 1; }

.wrapsite__overlay {
  display: none; }
  .is-wide .wrapsite__overlay {
    display: block; }

.wrapsite__overlayfixed {
  background: rgba(224, 224, 224, 0.8);
  left: 0;
  opacity: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: opacity 0s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0s ease-in-out 0;
  -o-transition: opacity 0s ease-in-out 0;
  transition: opacity 0s ease-in-out 0; }
  .is-withsidebar .wrapsite__overlayfixed {
    left: 0px;
    opacity: 1;
    z-index: 30000;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity 0.3s ease-in-out 0.3s;
    -o-transition: opacity 0.3s ease-in-out 0.3s;
    transition: opacity 0.3s ease-in-out 0.3s; }
  .is-reading.is-withsidebar .wrapsite__overlayfixed {
    background: transparent;
    opacity: 1;
    z-index: 30000; }

.sidenav {
  position: absolute;
  top: 0;
  height: 400px;
  left: -240px;
  width: 240px;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  z-index: 30; }
  .sidenav .sidenav__toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 60px;
    cursor: pointer;
    z-index: 40;
    opacity: 1;
    display: block; }
    .sidenav .sidenav__toggle i {
      position: absolute;
      top: 21px;
      left: 24px;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1282px no-repeat;
      width: 18px;
      height: 18px; }
  .is-withsidebar .sidenav {
    display: block; }
  .sidenav .sidenav__content {
    padding: 75px 24px 20px 24px;
    padding: 24px 24px 20px 24px;
    width: 192px;
    top: 0;
    z-index: 50;
    left: 0;
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 0; }
    .sidenav .sidenav__content.is-static {
      position: absolute; }
  .sidenav .sidenav__top {
    height: 60px;
    background: #182472;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 240px; }
  .sidenav .sidenav__bg {
    width: 240px;
    background: #182472;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; }
  .sidenav h3 {
    font-family: "regularcond", arial, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 21px; }
  .sidenav ul {
    margin: 0 -24px 22px -24px;
    padding: 0 24px 4px 24px;
    list-style: none;
    font-size: 12px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .sidenav ul a {
      color: white;
      text-decoration: none; }
      .sidenav ul a.is-active {
        color: white; }
      .sidenav ul a:hover {
        color: white; }
      .sidenav ul a span {
        color: #98a0dc;
        display: block; }
    .sidenav ul li {
      margin-bottom: 1.2em;
      position: relative; }
      .sidenav ul li.is-active:before {
        position: absolute;
        right: 0px;
        height: 2px;
        top: 7px;
        width: 6px;
        background: #30be9a;
        border-radius: 2px;
        content: " "; }
    .sidenav ul:last-child {
      border-bottom: none; }
  .sidenav .sidenav__special {
    position: relative; }
    .sidenav .sidenav__special i {
      position: absolute;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -538px no-repeat;
      width: 13px;
      height: 9px;
      top: 3px;
      left: -34px; }
  .sidenav .sidenav__pre {
    padding-left: 62px; }
  .sidenav .sidenav__other a {
    color: #98a0dc; }

body {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  body .wrapsite, body .topline, body .read__wrap {
    -webkit-transition: left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out; }
  body.is-withsidebar {
    overflow: hidden; }
    body.is-withsidebar .topline__toggleaside {
      display: none; }
    body.is-withsidebar .wrapsite, body.is-withsidebar .topline {
      -webkit-transition: left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
      -o-transition: left 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
      transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
      -webkit-transform: translate3d(240px, 0, 0);
      -moz-transform: translate3d(240px, 0, 0);
      -ms-transform: translate3d(240px, 0, 0);
      -o-transform: translate3d(240px, 0, 0);
      transform: translate3d(240px, 0, 0); }

.sites {
  background: #dadce0;
  padding-top: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative; }
  .sites ul {
    list-style: none;
    margin-right: -60px;
    overflow: hidden;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .sites .sites__toggle {
    position: absolute;
    bottom: 0;
    height: 100px;
    cursor: pointer;
    width: 100%;
    z-index: 10; }
  .sites .sites__toggleicon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 58px;
    height: 51px; }
    .sites .sites__toggleicon i {
      position: absolute;
      margin-left: -9px;
      margin-top: -6px;
      top: 50%;
      left: 50%;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -606px no-repeat;
      width: 20px;
      height: 11px;
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
      zoom: 1; }
  .sites.is-active .sites__toggleicon i {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
    zoom: 1; }
  .sites .sites__in {
    position: relative; }
  .sites .site {
    width: 263px;
    height: 146px;
    padding: 22px 27px 12px 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    float: left;
    background: #f5f5f6;
    text-decoration: none;
    font-size: 20px;
    color: #697891;
    font-family: "book", arial, sans-serif;
    line-height: 1.2;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .sites .site:hover {
      background: #fcfcfd;
      color: #3e4756;
      position: relative;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
    .sites .site span {
      display: block;
      position: absolute;
      bottom: 29px;
      left: 27px;
      text-transform: uppercase;
      color: #2d78e1;
      font-family: Arial, sans-serif;
      font-size: 10px; }
    .sites .site .site__arrow {
      position: absolute;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -971px no-repeat;
      width: 11px;
      height: 19px;
      bottom: 25px;
      right: 29px;
      display: inline-block; }

.read__wrap {
  padding-top: 80px; }
  @media only screen and (min-width: 1480px) {
    .read__wrap {
      background: #fbfbfd;
      padding-top: 0;
      position: fixed;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: auto;
      margin: 0;
      height: auto !important; } }
  @media only screen and (max-width: 1480px) {
    .read__wrap {
      top: 0 !important; } }

.read {
  background: #fbfbfd; }
  @media only screen and (min-width: 1480px) {
    .read {
      box-shadow: none; } }
  .read .read__tabs {
    background: #dadce0;
    height: 60px;
    padding-left: 80px; }
    .read .read__tabs * {
      float: left; }
    .read .read__tabs i {
      display: inline-block;
      position: relative;
      font-style: normal; }
    .read .read__tabs span {
      position: absolute;
      right: -8px;
      top: -4px;
      width: 16px;
      height: 12px;
      line-height: 12px;
      font-size: 8px;
      font-family: Arial, sans-serif;
      color: white;
      border-radius: 4px;
      background: #868492;
      text-align: center;
      border: 2px solid #dadce0; }
    .read .read__tabs .read__loadarticle {
      cursor: pointer;
      height: 40px;
      padding: 20px 30px 0 30px;
      margin-left: 10px; }
      .read .read__tabs .read__loadarticle i {
        background: url("../img/svg/article.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        width: 26px;
        height: 22px;
        display: inline-block; }
      .read .read__tabs .read__loadarticle:hover i, .read .read__tabs .read__loadarticle:active i, .read .read__tabs .read__loadarticle.is-active i {
        background: url("../img/svg/article_active.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px; }
    .read .read__tabs .read__loadphoto {
      position: relative;
      cursor: pointer;
      height: 40px;
      padding: 20px 30px 0 30px; }
      .read .read__tabs .read__loadphoto i {
        background: url("../img/svg/photo.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        width: 26px;
        height: 22px;
        display: inline-block; }
      .read .read__tabs .read__loadphoto:hover i, .read .read__tabs .read__loadphoto:active i, .read .read__tabs .read__loadphoto.is-active i {
        background: url("../img/svg/photo_active.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px; }
    .read .read__tabs .read__loadvideo {
      position: relative;
      cursor: pointer;
      height: 40px;
      padding: 20px 30px 0 30px; }
      .read .read__tabs .read__loadvideo i {
        background: url("../img/svg/video.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        width: 26px;
        height: 22px;
        display: inline-block; }
      .read .read__tabs .read__loadvideo:hover i, .read .read__tabs .read__loadvideo:active i, .read .read__tabs .read__loadvideo.is-active i {
        background: url("../img/svg/video_active.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px; }
    .read .read__tabs .read__loadvideo.is-active, .read .read__tabs .read__loadphoto.is-active, .read .read__tabs .read__loadarticle.is-active {
      position: relative; }
      .read .read__tabs .read__loadvideo.is-active:before, .read .read__tabs .read__loadphoto.is-active:before, .read .read__tabs .read__loadarticle.is-active:before {
        position: absolute;
        top: 0;
        background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -659px no-repeat;
        width: 14px;
        height: 7px;
        left: 50%;
        margin-left: -7px;
        content: " "; }
    .read .read__tabs .read__share {
      float: right;
      cursor: pointer;
      height: 40px;
      padding: 20px 40px 0 20px; }
      .read .read__tabs .read__share i {
        background: url("../img/svg/export.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        width: 26px;
        height: 22px;
        display: inline-block; }
      .read .read__tabs .read__share:hover i, .read .read__tabs .read__share:active i, .read .read__tabs .read__share.is-active i {
        background: url("../img/svg/export_active.svg") no-repeat 0 0;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        width: 26px;
        height: 22px;
        display: inline-block; }
    .read .read__tabs .read__sep {
      position: relative;
      top: 16px;
      height: 28px;
      border-left: 1px solid #d6d8dc; }
  .read .read__updated {
    position: absolute;
    bottom: -30px;
    right: 17px;
    font-size: 11px;
    color: #aaafb6; }
    @media only screen and (min-width: 1480px) {
      .read .read__updated {
        padding-bottom: 15px;
        bottom: 0;
        display: none; } }
  .read .read__in {
    padding: 25px 120px; }
  .read .read__meta {
    font-size: 13px;
    color: #aaafb6;
    margin-bottom: 31px; }
  .read .read__categ {
    font-size: 15px;
    color: #5c5e6c;
    margin-bottom: 37px;
    font-family: "book", arial, sans-serif;
    position: relative; }
    .read .read__categ i {
      position: absolute;
      left: -30px;
      background: url("../img/svg/arr_left.svg") no-repeat 0 0;
      -webkit-background-size: 8px 14px;
      -moz-background-size: 8px 14px;
      -o-background-size: 8px 14px;
      background-size: 8px 14px;
      width: 8px;
      height: 14px;
      display: inline-block;
      top: 4px;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .read .read__categ:hover i {
      display: block;
      left: -34px;
      opacity: 1; }
  .read .read__published, .read .read__time {
    margin-right: 14px;
    display: inline-block;
    color: #5c5e6c;
    font-family: "book", arial, sans-serif; }
  .read .read__copy {
    display: inline-block;
    color: #9c9ea8;
    font-size: 11px; }
  .read .read__place {
    display: inline-block; }
  .read .read__location {
    display: inline-block; }
    .read .read__location i {
      display: inline-block;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -926px no-repeat;
      width: 8px;
      height: 12px;
      position: relative;
      top: 2px;
      margin-right: 6px; }

.read__top {
  margin: -25px -120px 0 -120px;
  background: #ececec;
  padding: 85px 120px 45px 120px;
  margin-bottom: 38px; }

.read__tags {
  padding-top: 25px;
  border-top: 1px solid #ececec;
  margin-bottom: 15px;
  *zoom: 1; }
  .read__tags:before, .read__tags:after {
    content: " ";
    display: table; }
  .read__tags:after {
    clear: both; }
  .read__tags .read__tagscol {
    float: left;
    width: 31%;
    margin-right: 2%; }
  .read__tags h3 {
    font-size: 16px;
    font-weight: normal;
    font-family: "regular", arial, sans-serif;
    margin-bottom: 27px; }
  .read__tags ul {
    list-style: none; }
    .read__tags ul a {
      font-size: 13px;
      color: #565268;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #ececec;
      padding: 4px 13px;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      max-width: 100%;
      border-radius: 6px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .read__tags ul a:hover {
        color: white;
        background: #30be9a;
        border-color: #30be9a; }
    .read__tags ul .read__tagsmore a {
      color: #b0aeb8; }
      .read__tags ul .read__tagsmore a:hover {
        color: white; }
    .read__tags ul li {
      margin-bottom: 4px;
      position: relative;
      height: 32px; }
      .read__tags ul li:hover {
        z-index: 20; }
        .read__tags ul li:hover a {
          color: white;
          background: #30be9a;
          border-color: #30be9a;
          position: absolute;
          left: 0;
          top: 0;
          -ms-text-overflow: auto;
          text-overflow: auto;
          max-width: 300px; }

.read__status {
  padding-top: 25px;
  border-top: 1px solid #ececec; }
  .read__status h3 {
    width: 33%;
    float: left;
    font-size: 16px;
    font-weight: normal;
    font-family: "regular", arial, sans-serif; }
  .read__status p {
    overflow: hidden;
    font-size: 13px;
    color: #868492;
    padding-top: 3px; }

.read__content {
  font-size: 15px;
  color: #343646;
  line-height: 1.4em;
  *zoom: 1; }
  .read__content:before, .read__content:after {
    content: " ";
    display: table; }
  .read__content:after {
    clear: both; }
  .read__content strong {
    font-weight: normal;
    font-family: "regular", arial, sans-serif; }
  .read__content .read__categ {
    font-size: 16px;
    font-family: "regularcond", arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #2a40c8;
    margin-bottom: 70px; }
    .read__content .read__categ a {
      text-decoration: none;
      color: #2a40c8; }
  .read__content h1 {
    font-size: 33px;
    color: #3656cc;
    line-height: 41px;
    margin-bottom: 24px;
    font-weight: normal;
    font-family: "regularcond", arial, sans-serif;
    color: black; }
  .read__content .read__lead {
    color: #555267;
    font-size: 20px;
    line-height: 1.4;
    font-weight: normal;
    margin-bottom: 23px;
    font-family: "book", arial, sans-serif; }
  .read__content p {
    margin-bottom: 1.5em; }
  .read__content ul, .read__content ol {
    margin: 1em 2em;
    list-style: disc; }
  .read__content ol {
    list-style: decimal; }
  .read__content .slider {
    margin: 0 -120px 1.5em -120px; }
    .read__content .slider img {
      display: block;
      width: 100%; }
  .read__content blockquote {
    font-size: 26px;
    color: #1e2032;
    font-family: "book", arial, sans-serif;
    background: #eef2cb;
    text-align: left;
    padding: 70px 120px 70px 120px;
    line-height: 1.4;
    margin: 35px -120px; }
    .read__content blockquote p {
      margin: 0; }
  .read__content .cut {
    float: right;
    margin: 0px 0 30px 63px;
    font-size: 13px;
    width: 190px; }
    .read__content .cut .cut__title {
      font-weight: normal;
      font-family: "regular", arial, sans-serif;
      font-size: 16px;
      margin-bottom: 14px; }
    .read__content .cut .cut__meta {
      font-size: 13px;
      color: #b0aeb8;
      margin-top: 14px; }
    .read__content .cut .cut__filetype {
      background: url("../img/svg/filetype.svg") no-repeat 0 0;
      -webkit-background-size: 60px 80px;
      -moz-background-size: 60px 80px;
      -o-background-size: 60px 80px;
      background-size: 60px 80px;
      width: 60px;
      height: 80px;
      display: inline-block;
      position: relative;
      margin-top: 20px;
      text-decoration: none; }
      .read__content .cut .cut__filetype span {
        position: absolute;
        font-size: 14px;
        text-transform: uppercase;
        color: #30be9a;
        font-family: "regular", arial, sans-serif;
        position: absolute;
        bottom: 14px;
        left: 0;
        width: 100%;
        text-align: center; }

.slider {
  position: relative;
  margin-bottom: 1.5em; }
  .slider .slider__next, .slider .slider__prev {
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 180px;
    height: 100%;
    cursor: pointer;
    z-index: 150;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .slider .slider__next i, .slider .slider__prev i {
      position: absolute;
      bottom: 110px; }
  .slider:hover .slider__next, .slider:hover .slider__prev, .slider:hover .slider__page {
    opacity: 1; }
  .slider:hover .slider__slidetitle {
    color: black; }
  .slider .slider__next {
    right: 0px; }
    .slider .slider__next i {
      background: url("../img/svg/next.svg") no-repeat 0 0;
      -webkit-background-size: 60px 60px;
      -moz-background-size: 60px 60px;
      -o-background-size: 60px 60px;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      display: inline-block;
      right: 60px; }
  .slider .slider__prev {
    left: 0; }
    .slider .slider__prev i {
      background: url("../img/svg/prev.svg") no-repeat 0 0;
      -webkit-background-size: 60px 60px;
      -moz-background-size: 60px 60px;
      -o-background-size: 60px 60px;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      display: inline-block;
      left: 60px; }
  .slider .slider__title {
    font-size: 11px;
    color: #c2c6d2;
    text-align: right;
    padding: 10px 20px 0 0; }
  .slider .slider__slidetitle {
    margin: 0 120px;
    z-index: 10;
    font-size: 13px;
    color: #9c9ea8;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    padding: 13px 0; }
  .slider .slider__slide {
    position: relative;
    width: 100%;
    overflow: hidden; }
  .slider img {
    display: block; }
  .slider .slider__page {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 0 14px;
    width: 120px;
    text-align: center;
    font-size: 13px;
    opacity: 0; }

.subtle {
  color: #b0aeb8; }

.keyevents {
  margin-bottom: 60px; }
  .keyevents h3 {
    font-weight: normal;
    font-family: "regular", arial, sans-serif;
    font-size: 16px;
    margin-bottom: 13px; }
  .keyevents ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px; }
    .keyevents ul a {
      display: block;
      padding: 13px 0;
      text-decoration: none;
      color: #222222;
      border-top: 1px solid #f2f2f2; }
      .keyevents ul a:hover {
        color: #2a40c8; }
  .keyevents .keyevents__more {
    color: #b0aeb8; }
    .keyevents .keyevents__more:hover {
      color: #30be9a; }

.content {
  background: #f5f5f6; }
  .content.content_alt {
    background: #ececee; }
  .content .content__in {
    padding-top: 40px;
    padding-bottom: 40px; }
  .content.content_top {
    background: white; }
    .content.content_top .content__in {
      padding-top: 0;
      padding-bottom: 0; }
  .content .content__sep {
    border-top: 1px solid #eeeff2; }
    .content .content__sep.content__sepshadow {
      position: relative; }
      .content .content__sep.content__sepshadow:before {
        position: absolute;
        top: 0px;
        height: 14px;
        width: 100%;
        content: " "; }

.cols {
  margin-right: -50px; }
  .cols .col {
    width: 320px;
    float: left;
    margin-right: 40px; }

.promoted {
  background: white;
  position: relative;
  height: 180px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden; }
  .promoted .promoted__in {
    padding-top: 40px;
    padding-bottom: 40px; }
  .promoted .promoted__toggle {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 58px;
    height: 51px;
    opacity: 0.5; }
    .promoted .promoted__toggle i {
      position: absolute;
      margin-left: -9px;
      margin-top: -6px;
      top: 50%;
      left: 50%;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -606px no-repeat;
      width: 20px;
      height: 11px;
      background: url("../img/svg/arrow__top.svg") no-repeat 0 0;
      -webkit-background-size: 19px 12px;
      -moz-background-size: 19px 12px;
      -o-background-size: 19px 12px;
      background-size: 19px 12px;
      width: 19px;
      height: 12px;
      display: inline-block; }
  .promoted.is-collapsed {
    height: 60px; }
    .promoted.is-collapsed .promoted__in {
      padding-top: 0;
      padding-bottom: 0; }
    .promoted.is-collapsed .promoted__toggle {
      bottom: 5px;
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
      zoom: 1; }

.promoted__entry {
  overflow: hidden;
  text-decoration: none;
  display: block; }
  .promoted__entry .promoted__pic {
    float: right;
    margin-left: 100px; }
  .promoted__entry .promoted__title {
    font-family: "book", arial, sans-serif;
    color: #181c40;
    font-size: 22px;
    text-decoration: none;
    line-height: 1.3;
    font-weight: normal;
    padding-top: 5px; }
    .promoted__entry .promoted__title:hover {
      color: #2a40c8; }
  .promoted__entry .promoted__date {
    margin-top: 10px;
    color: #9c9ea8;
    font-size: 11px; }
  .is-collapsed .promoted__entry {
    position: relative;
    padding-top: 15px; }
    .is-collapsed .promoted__entry .promoted__pic {
      display: none; }
    .is-collapsed .promoted__entry .promoted__date {
      font-size: 11px;
      color: #c9c6ca;
      margin: 0; }
    .is-collapsed .promoted__entry .promoted__title {
      color: #a0afc3;
      font-size: 12px;
      padding-top: 0; }

.hentry {
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e4e6eb; }
  .hentry .hentry__title {
    font-size: 20px;
    color: #041030;
    text-decoration: none;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: "regularcond", arial, sans-serif; }
    .hentry .hentry__title a {
      color: #2d3746;
      text-decoration: none;
      -webkit-transition: all 1.3s ease-in-out;
      -moz-transition: all 1.3s ease-in-out;
      -o-transition: all 1.3s ease-in-out;
      transition: all 1.3s ease-in-out; }
      .hentry .hentry__title a:hover {
        color: #2a40c8;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
  .hentry.hentry_inactive .hentry__title a {
    color: #aaafb6;
    -webkit-transition: all 1.3s ease-in-out;
    -moz-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out; }
    .hentry.hentry_inactive .hentry__title a:hover {
      color: #2a40c8;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .hentry .hentry__meta {
    color: #aaafb6;
    font-size: 11px; }
  .hentry .hentry__pic {
    margin-top: 22px; }
    .hentry .hentry__pic img {
      display: block; }
  .hentry .hentry__content {
    font-size: 13px;
    color: #352e4a;
    line-height: 1.5;
    margin-top: 22px; }
    .hentry .hentry__content p {
      margin-bottom: 1em; }
      .hentry .hentry__content p:last-child {
        margin-bottom: 0; }
  .hentry.hentry_white {
    background: white;
    padding: 20px 28px 28px 28px;
    border-bottom: none;
    margin-bottom: 45px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .hentry.hentry_white:hover {
      background: #fcfcfc;
      -webkit-box-shadow: 0px 6px 32px 4px rgba(34, 30, 74, 0.15);
      -moz-box-shadow: 0px 6px 32px 4px rgba(34, 30, 74, 0.15);
      box-shadow: 0px 6px 32px 4px rgba(34, 30, 74, 0.15); }
      .hentry.hentry_white:hover .hentry__title a {
        color: #245fc0; }
    .hentry.hentry_white .hentry__title {
      font-size: 24px;
      min-height: 127px; }
    .hentry.hentry_white .hentry__pic {
      margin: 22px -28px -28px -28px; }
  .hentry.hentry_wide {
    margin-bottom: 42px;
    border-bottom-style: none;
    padding-bottom: 0; }
    .hentry.hentry_wide .hentry__title {
      font-size: 33px;
      line-height: 1.2;
      padding-top: 13px; }
  .hentry.hentry_equal {
    min-height: 385px; }
  .hentry.hentry_last {
    border-bottom: none;
    padding-bottom: 0; }
  .hentry.is-active {
    position: relative; }
    .hentry.is-active .hentry__title {
      color: #245fc0; }
      .hentry.is-active .hentry__title a {
        color: #245fc0; }
    .hentry.is-active .hentry__meta {
      color: #3656cc; }
    .hentry.is-active:before {
      position: absolute;
      bottom: 25px;
      right: 20px;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1152px no-repeat;
      width: 11px;
      height: 19px;
      content: " "; }
  .hentry.hentry_event, .hentry.hentry_doc {
    position: relative;
    margin-bottom: 29px; }
    .hentry.hentry_event:last-child, .hentry.hentry_event.hentry_lastchild, .hentry.hentry_doc:last-child, .hentry.hentry_doc.hentry_lastchild {
      border-bottom: none; }
    .hentry.hentry_event .hentry__title, .hentry.hentry_doc .hentry__title {
      margin-right: 150px; }
    .hentry.hentry_event .hentry__inst, .hentry.hentry_doc .hentry__inst {
      padding-right: 60px; }
  .hentry .hentry__assets {
    position: absolute;
    top: 0px;
    right: 0;
    list-style: none;
    font-size: 0;
    width: 124px; }
    .hentry .hentry__assets li {
      display: inline-block;
      text-align: right; }
    .hentry .hentry__assets a {
      vertical-align: middle;
      display: inline-block;
      margin-left: 12px; }
  .hentry .hentry__text {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -627px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry .hentry__photo {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -410px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry .hentry__video {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -574px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry .hentry__telegram {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -506px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry .hentry__sadtelegram {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -474px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry .hentry__doc {
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -442px no-repeat;
    width: 26px;
    height: 22px; }
  .hentry.hentry_telegram .hentry__assets {
    text-align: right; }
  .hentry.hentry_doc .hentry__assets {
    width: 76px; }

.admincomis__block {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .admincomis__block .cols {
    display: none; }
  .admincomis__block.is-inactive {
    opacity: 0.5; }
  .admincomis__block.is-active .cols {
    display: block; }
  .admincomis__block + .admincomis__block h2 {
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 20px; }
    .admincomis__block + .admincomis__block h2:hover {
      opacity: 1; }
  .admincomis__block h2 a:hover {
    color: #245fc0; }

.dateblock {
  float: right;
  font-size: 11px;
  color: #9c9ea8;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #ececee;
  height: 28px;
  line-height: 28px;
  padding: 0 38px;
  margin-top: 15px;
  cursor: pointer; }
  .dateblock:hover {
    color: white;
    background: #3559c5;
    border-color: #3559c5; }
  .dateblock:first-letter {
    text-transform: uppercase; }

.subnav {
  list-style: none;
  font-size: 0; }
  .subnav li {
    display: inline-block;
    font-size: 15px;
    color: #9c9ea8; }
    .subnav li a {
      color: #9c9ea8;
      text-decoration: none;
      margin-right: 25px; }
      .subnav li a.is-active {
        color: #3656cc; }
  .subnav.subnav_sub li a.is-active {
    position: relative; }
    .subnav.subnav_sub li a.is-active:before {
      position: absolute;
      bottom: -5px;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1269px no-repeat;
      width: 3px;
      height: 3px;
      content: " ";
      left: 50%; }

.rubr {
  background: #fcfcfd; }
  .rubr .rubr__head {
    font-size: 15px;
    font-weight: normal;
    color: #37a58c; }
    .rubr .rubr__head a {
      color: #37a58c;
      text-decoration: none; }
  .rubr .rubr__list {
    overflow: hidden;
    padding: 10px 0;
    position: relative; }
    .rubr .rubr__list:before {
      content: " ";
      position: absolute;
      left: 45%;
      top: 0;
      height: 100%;
      border-left: 1px solid #ececee; }
    .rubr .rubr__list ul {
      list-style: none;
      float: left;
      width: 40%;
      margin-right: 10%; }
    .rubr .rubr__list li {
      margin-bottom: 6px; }
    .rubr .rubr__list a {
      font-size: 15px;
      color: #5c5e6c;
      text-decoration: none; }
      .rubr .rubr__list a.is-active, .rubr .rubr__list a:hover {
        color: #3559c5; }

.docsearch__wrap {
  background: #fcfcfd; }

.docsearch {
  padding: 25px 0;
  margin-right: -20px;
  overflow: hidden;
  margin-left: -10px;
  padding-left: 10px;
  position: relative; }
  .docsearch .docsearch__field {
    float: left;
    width: 330px;
    margin-right: 20px;
    margin-bottom: 14px; }
    .docsearch .docsearch__field.docsearch__fieldlong {
      width: 680px; }
  .docsearch label {
    display: block;
    font-size: 15px;
    padding-bottom: 6px;
    color: #343646; }
  .docsearch input {
    background: #f5f5f6;
    border-radius: 3px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ececee;
    padding: 10px;
    font-family: "book", arial, sans-serif;
    font-size: 15px; }
  .docsearch .docsearch__submit {
    position: absolute;
    bottom: 40px;
    right: 20px; }
  .docsearch .select {
    position: relative; }
    .docsearch .select:before {
      content: " ";
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 15px;
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -557px no-repeat;
      width: 12px;
      height: 7px; }
    .docsearch .select select {
      -webkit-appearance: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10; }

.fixme {
  background: white;
  z-index: 200;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.content_subnav .content__in {
  height: 60px;
  line-height: 60px; }
  .content_subnav .content__in.content__flexible {
    height: auto;
    line-height: 1.3; }

.events .events__title {
  font-family: "regularcond", arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 28px 0;
  color: #848cae; }
  .events .events__title a {
    color: #3656cc;
    text-decoration: none; }
  .events .events__title:first-child {
    margin-top: 0; }

.more {
  border-radius: 3px;
  background-color: #fbfbfd;
  box-shadow: 0 1px 4px rgba(70, 76, 98, 0.1);
  background: white;
  height: 40px;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 40px; }
  .more i {
    display: inline-block;
    background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1209px no-repeat;
    width: 34px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -17px;
    margin-top: -3px; }
  .more.more_alt {
    border: 1px solid #dedee2;
    background: #ececee;
    box-shadow: none; }
    .more.more_alt i {
      background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1225px no-repeat;
      width: 34px;
      height: 6px; }

.media {
  background: white;
  margin-bottom: 40px; }
  .media .media__top {
    padding: 22px 30px 18px 30px; }
  .media .media__title {
    font-size: 20px;
    font-weight: normal;
    min-height: 115px;
    font-family: "regularcond", arial, sans-serif;
    color: #181c40; }
    .media .media__title a {
      color: #181c40;
      text-decoration: none; }
  .media .media__meta {
    font-size: 11px;
    color: #b4b6c0; }
    .media .media__meta .media__type {
      margin-right: 15px;
      display: inline-block;
      color: #37a58c;
      text-decoration: none; }
    .media .media__meta .media__published {
      color: #868892;
      margin-right: 15px;
      display: inline-block; }
    .media .media__meta .media__length {
      display: inline-block; }
  .media .media__pic {
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .media .media__pic img {
      display: block;
      width: 100%;
      height: auto !important; }
    .media .media__pic .media__videolink {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #45a48d;
      background: rgba(69, 164, 141, 0.6);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .media .media__pic .media__videolink:before {
        content: " ";
        position: absolute;
        top: 9px;
        left: 10px;
        background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -130px no-repeat;
        width: 300px;
        height: 202px; }
    .media .media__pic .media__quality {
      position: absolute;
      left: 50%;
      width: 50px;
      margin-left: -25px;
      bottom: 30px;
      background: #ccf8a6;
      border-radius: 4px;
      font-family: "regularcond", arial, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      height: 21px;
      color: white; }
      .media .media__pic .media__quality span, .media .media__pic .media__quality a {
        border: 2px solid #e3f9cf;
        background: #50ac8f;
        line-height: 19px;
        height: 17px;
        text-align: center;
        width: 24px;
        display: block;
        border-radius: 4px; }
        .media .media__pic .media__quality span.is-hd, .media .media__pic .media__quality a.is-hd {
          float: right; }
    .media .media__pic:hover .media__videolink {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .media.media_wide .media__title {
    font-size: 24px;
    min-height: 75px; }

.content_contacts1 {
  background: #f5f5f6; }

.content_contacts2 {
  background: #ececee; }

.sprav {
  border-bottom: 1px solid #e5e6ea;
  border-top: 1px solid #e5e6ea;
  margin-bottom: 40px; }
  .sprav .sprav__item {
    font-family: "regularcond", arial, sans-serif;
    padding-bottom: 34px;
    padding-top: 34px; }
    .sprav .sprav__item:first-child {
      border-bottom: 1px solid #e5e6ea; }
    .sprav .sprav__item dt {
      font-size: 32px;
      font-family: "regularcond", arial, sans-serif;
      color: #181c40;
      line-height: 1.1;
      margin-bottom: 1em; }
      .sprav .sprav__item dt a {
        color: #181c40;
        text-decoration: none; }
    .sprav .sprav__item dd {
      font-size: 20px;
      color: #181c40; }
    .sprav .sprav__item.sprav__itemspecial dt {
      margin-bottom: 0.74em; }

.contactform {
  margin-right: -20px; }
  .contactform .contactform__text {
    font-size: 20px;
    color: #414664;
    font-family: "regularcond", arial, sans-serif;
    margin-bottom: 35px; }
  .contactform .contactform__field {
    float: left;
    margin-right: 20px;
    width: 330px;
    margin-bottom: 15px; }
    .contactform .contactform__field label {
      display: block;
      color: #414664;
      font-size: 15px;
      font-family: "book", arial, sans-serif;
      padding-bottom: 4px; }
  .contactform .contactform__textarea {
    clear: both;
    float: none;
    width: auto;
    margin-bottom: 40px; }
  .contactform .contactform__act {
    text-align: right;
    margin-right: 20px; }
  .contactform .contactform__submit {
    display: inline-block; }
  .contactform input, .contactform textarea {
    background: #fcfcfd;
    border-radius: 3px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: none;
    padding: 10px;
    font-family: "book", arial, sans-serif;
    font-size: 15px; }
  .contactform textarea {
    height: 300px; }
  .contactform .textarea {
    position: relative; }
    .contactform .textarea .textarea__left {
      position: absolute;
      right: 10px;
      line-height: 1;
      top: 8px;
      font-size: 11px;
      font-family: "Tahoma", sans-serif;
      color: #c4c8d0; }

.page {
  background: #fcfcfd;
  padding: 40px;
  margin-bottom: 40px; }
  .page p {
    margin-bottom: 1.7em;
    font-size: 16px;
    color: #343646;
    line-height: 1.4; }
  .page .slider {
    margin: 20px -120px 28px -120px; }
  .page .lead {
    font-size: 22px;
    font-family: "book", arial, sans-serif;
    color: #343646; }

#calroot {
  background: #fcfcfd;
  -webkit-box-shadow: 0 8px 36px rgba(24, 46, 132, 0.15);
  -moz-box-shadow: 0 8px 36px rgba(24, 46, 132, 0.15);
  box-shadow: 0 8px 36px rgba(24, 46, 132, 0.15);
  border-radius: 4px;
  padding: 20px 37px;
  z-index: 1500; }

#calhead {
  text-align: center;
  margin-bottom: 20px; }

#caltitle {
  display: inline-block;
  margin: 0 10px;
  font-family: "regularcond", arial, sans-serif;
  font-size: 15px;
  color: #3656cc;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  top: 1px;
  width: 120px;
  text-align: center; }
  #caltitle:first-letter {
    text-transform: uppercase; }

#calnext, #calprev {
  background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1076px no-repeat;
  width: 8px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  #calnext.caldisabled, .caldisabled#calprev {
    visibility: hidden; }

#calprev {
  background: url('../../dev/img/icons-sf5b4bba9c2.png') 0 -1129px no-repeat;
  width: 8px;
  height: 13px; }

#caldays {
  font-family: "regularcond", arial, sans-serif;
  font-size: 12px;
  color: #c4c8d0; }

#caldays {
  height: 14px;
  margin-bottom: 18px; }

#caldays span {
  display: block;
  float: left;
  width: 31px;
  text-align: center; }

#calweeks {
  margin-top: 4px; }

.calweek {
  clear: left;
  height: 22px;
  margin-bottom: 10px; }

.calweek a {
  float: left;
  width: 30px;
  height: 26px;
  text-decoration: none;
  font-size: 16px;
  font-family: "regularcond", arial, sans-serif;
  margin-left: 1px;
  text-align: center;
  line-height: 28px;
  color: #666666;
  border-radius: 3px; }

.calweek a:hover, .calfocus {
  background-color: #dddddd; }

a.calsun {
  color: red; }

a.caloff {
  color: #cccccc; }

a.caloff:hover {
  background-color: #f5f5fa; }

a.caldisabled {
  background-color: #efefef !important;
  color: #cccccc !important;
  cursor: default; }

#calcurrent {
  background-color: #c9f8a4;
  color: #56b18f; }

#caltoday {
  background-color: #333333;
  color: white; }
